{%extends "master.html"%}

{% block title %}
Login
{% endblock %}

{% block stylesheet %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Login form -->
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data" action="{% url 'login' %}">

        {% csrf_token %}  <!-- CSRF token for security -->

        <!-- Login heading -->
        <h1 style="text-align: center;"><span style="color: blue;">Login</span></h1>
        <hr>

        <!-- Display error/success messages -->
        {% if messages %}
        <div class="alert alert-primary" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        <!-- Username input field -->
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" class="form-control" name="username" id="inputUsername" aria-describedby="usernameHelp"
                placeholder="Enter username" required>
        </div>

        <!-- Password input field -->
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required>
        </div>

        <!-- Link to registration page -->
        <p>Don't have an account? <a href="{% url 'register' %}">Register</a> </p>

        <!-- Link to forgot password page -->
        <p>Forgot password? <a href="{% url 'password_reset' %}">Forgot Password</a> </p>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary" id="login_submit_button">Submit</button>
    </form>
</div>
{% endblock %}
